<div data-controller="weui-dialog weui-picker" data-weui-dialog-target="dialog" data-weui-picker-url-value="<%= url_for(action: 'follow') %>" class="weui-half-screen-dialog weui-picker weui-animate-slide-up" id="area_select">
  <div class="weui-half-screen-dialog__hd">
    <div class="weui-half-screen-dialog__hd__side">
      <button class="weui-icon-btn weui-icon-btn_close weui-picker__btn" data-action="weui-dialog#close">关闭</button>
    </div>
    <div class="weui-half-screen-dialog__hd__main">
      <strong class="weui-half-screen-dialog__title">选择地区</strong>
    </div>
  </div>
  <div class="weui-half-screen-dialog__bd">
    <div class="weui-picker__bd">
      <div class="weui-picker__group">
        <div class="weui-picker__mask"></div>
        <div class="weui-picker__indicator"></div>
        <div class="weui-picker__content" style="transform: translateY(96px)">
        <% @areas.each do |area| %>
          <div class="weui-picker__item" data-action="click->weui-picker#getNext click->weui-picker#setValue" data-id="<%= area.id %>"><%= area.name %></div>
        <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="weui-half-screen-dialog__ft">
    <button class="weui-btn weui-btn_primary weui-picker__btn">确认</button>
  </div>
</div>
