<div data-controller="weui-dialog weui-picker" data-weui-picker-url-value="<%= url_for(action: 'follow') %>" class="weui-dialog__wrap weui-dialog__wrap_show">
  <div class="weui-mask" data-action="click->weui-dialog#close"></div>
  <div data-weui-dialog-target="dialog" class="weui-half-screen-dialog is-dark weui-picker weui-half-screen-dialog_show" id="area_select">
    <div class="weui-half-screen-dialog__hd">
      <div class="weui-half-screen-dialog__hd__side">
        <button class="weui-icon-btn weui-icon-btn_close weui-picker__btn" data-action="weui-dialog#close">关闭</button>
      </div>
      <div class="weui-half-screen-dialog__hd__main">
        <strong class="weui-half-screen-dialog__title">选择地区</strong>
      </div>
    </div>
    <div class="weui-half-screen-dialog__bd">
      <div class="weui-picker__bd">
        <div class="weui-picker__group">
          <div class="weui-picker__mask"></div>
          <div class="weui-picker__indicator"></div>
          <select class="weui-picker__content" data-action="change->weui-picker#getNext change->weui-picker#setValue" style="transform: translateY(96px); z-index: 100">
          <% @areas.each do |area| %>
            <option class="weui-picker__item" data-id="<%= area.id %>"><%= area.name %></option>
          <% end %>
          </select>
        </div>
      </div>
    </div>
    <div class="weui-half-screen-dialog__ft">
      <button class="weui-btn weui-btn_primary weui-picker__btn" data-action="weui-picker#close">确认</button>
    </div>
  </div>
</div>
