<% if @areas.size > 0 %>
<div class="weui-picker__group">
  <div class="weui-picker__mask"></div>
  <div class="weui-picker__indicator"></div>
  <div class="weui-picker__content">
  <% @areas.each do |area| %>
    <div class="weui-picker__item" data-action="click->weui-picker#getNext click->weui-picker#setValue" data-id="<%= area.id %>"><%= area.name %></div>
  <% end %>
  </div>
</div>
<% end %>
