<% if rails_role_user.any_role?('profile/admin') %>
<div class="item">
  <a class="<%= active_helper(controllers: ['areas'], active_class: 'title active', item_class: 'title') %>">
    <i class="fas fa-map-marker-alt fa-fw"></i>
    <span><%= t('profile.admin.title') %></span>
    <i class="dropdown icon"></i>
  </a>
  <div class="<%= active_helper(controllers: ['areas'], active_class: 'menu content active', item_class: 'menu content') %>">
    <%= link_to t('profile.admin.areas.index.title'), admin_areas_path, class: active_helper(controllers: 'areas') %>
  </div>
</div>
<% end %>
