<div class="weui-panel">
  <div class="weui-panel__hd">填写收货地址</div>
  <div class="weui-panel__bd">
    <%= form_with theme: 'weui', model: @address, url: { controller: 'profiled/my/addresses', action: 'create' }, class: 'weui-form pt-0' do |f| %>
      <%= render partial: 'profiled/my/addresses/form', locals: { f: f } %>
      <%= f.submit %>
    <% end %>
  </div>
</div>
