<div class="weui-panel">
  <div class="weui-panel__hd">填写收货地址</div>
  <div class="weui-panel__bd">
    <%= form_with theme: 'weui', model: @address, url: { controller: 'profiled/my/addresses', action: 'create' }, class: 'weui-form pt-0' do |f| %>
      <%= render partial: 'form', locals: { f: f } %>
      <div class="weui-form__opr-area is-flex is-justify-content-center mb-0">
        <%= f.submit '提交', wrap: { submit: nil } %>
      </div>
    <% end %>
  </div>
</div>
