<div class="weui-panel">
  <div class="weui-panel__hd">填写收货地址</div>
  <div class="weui-panel__bd">
    <%= form_with theme: 'weui', model: @address, url: { controller: 'profiled/my/addresses', action: 'order_create' } do |f| %>
      <%= render partial: 'form', locals: { f: f } %>
      <%= f.submit '提交', wrap: { submit: nil } %>
    <% end %>
  </div>
</div>
