<div class="field is-horizontal">
  <%= f.label "#{outer}_id" %>
  <div class="field-body">
    <% if node&.ancestors.present? %>
      <% node.ancestors.reverse_each do |node| %>
        <%= render partial: 'com/nodes/outer_options', locals: { f: f, node: node, depth: node.depth, outer: outer } %>
      <% end %>
    <% else %>
      <%= render partial: 'com/nodes/outer_options', locals: { f: f, node: node, depth: 0, outer: outer } %>
    <% end %>
    <div class="field has-addons has-addons-middle">
      <%= link_to({ action: 'select' }, data: { controller: 'common', action: 'common#link' }) do %>
        <i class="fa-solid fa-map-marker-alt"></i>
        <span class="pl-1">获取定位</span>
      <% end %>
    </div>
  </div>
</div>
