<%= render 'top_bar' %>

<div class="weui-panel" id="wechat_panel">
  <div class="weui-panel__bd">
    <%= render partial: 'address', collection: @addresses, as: :model %>
  </div>
  <div class="weui-panel__ft" id="wechat_address">
    <%= render 'button' %>
  </div>
</div>
