<%= render 'top_bar' %>

<div id="wechat_panel" class="weui-panel is-box">
  <div class="weui-panel__bd">
    <%= render partial: 'address', collection: @addresses, as: :model %>
  </div>
  <div id="wechat_address" class="weui-panel__ft">
    <%= render 'button' %>
  </div>
</div>
