<span class="menu-label"><%= t('profile.me.title') %></span>
<div class="menu-list">
  <%= link_to t('profile.me.profiles.show.title'), me_profile_path, class: active_helper(controllers: ['profiles'], active: 'is-active') %>
</div>
