<div class="ui modal" id="modal">
  <i class="close icon"></i>
  <div class="ui header blue">
    <%= t('.title') %>
  </div>

  <div class="content">
    <%= form_with url: crowd_admin_agency_path(@agency), method: :patch do |f| %>
      <%= f.collection_select :crowd_id, @crowds, :id, :name, label: '班级' %>
      <%= f.submit %>
    <% end %>
  </div>
</div>
