<td><%= model.full_name %></td>
<td>
  <div data-controller="input">
    <%= check_box_tag '[model]popular', nil, model.popular, data: { method: :patch, url: panel_area_path(model), action: 'input#submit' }, id: nil, class: 'switch is-rounded' %>
    <label></label>
  </div>
</td>
<td>
  <div data-controller="input">
    <%= check_box_tag '[model]published', nil, model.published, data: { method: :patch, url: panel_area_path(model), action: 'input#submit' }, id: nil, class: 'switch is-rounded' %>
    <label></label>
  </div>
</td>
