<tr>
  <td class="has-text-right"><%= Profiled::Area.human_attribute_name(:name) %></td>
  <td><%= @area.name %></td>
</tr>
<tr>
  <td class="has-text-right"><%= Profiled::Area.human_attribute_name(:names) %></td>
  <td><%= @area.names %></td>
</tr>
