<%= render 'top_bar' %>

<div class="weui-form-preview is-box">
  <div class="weui-form-preview__bd">
    <%= render 'show_table' %>
  </div>
  <div class="weui-form-preview__ft">
    <%= link_to t('.edit.title'), { action: 'edit' }, class: 'weui-form-preview__btn weui-form-preview__btn_primary' %>
  </div>
</div>
