<div class="<%= active_helper(modules: 'profile/admin', active_class: 'menu ex-accordion is-active', item_class: 'menu ex-accordion') %>" data-controller="menu">
  <%= content_tag :div, class: 'menu-list' do -%>
    <%= link_to t('profile.admin.areas.index.title'), admin_areas_path, class: active_helper(controllers: 'areas') %>
  <% end %>
  <a class="menu-label" data-action="menu#toggle">
    <i class="fas fa-map-marker-alt fa-fw"></i>
    <span><%= t('profile.admin.title') %></span>
    <i class="fas dropdown"></i>
  </a>
</div>
