<div class="<%= active_helper(modules: 'profiled/panel', active: 'menu ex-accordion is-active', item: 'menu ex-accordion') %>" data-controller="menu empty">
  <a class="menu-label" data-action="menu#toggle">
    <i class="fa-solid fa-map-marker-alt fa-fw"></i>
    <span><%= t('profiled.panel.title') %></span>
    <i class="fa-solid dropdown"></i>
  </a>
  <div class="menu-list" data-empty-target="content">
    <%= link_to t('profiled.panel.areas.index.title'), { controller: 'profiled/panel/areas' }, class: active_helper(controllers: 'areas', active: 'is-active') %>
    <%= link_to t('profiled.panel.addresses.index.title'), { controller: 'profiled/panel/addresses' }, class: active_helper(controllers: 'addresses', active: 'is-active') %>
  </div>
</div>
