<label class="weui-cell weui-cell_active weui-check__label">
  <span class="weui-cell__bd">
    <%= model.area.full_name %><%= model.detail %>
  </span>
  <span class="weui-cell__ft" data-controller="input">
    <%= form_with theme: nil, scope: 'cart', url: { controller: 'trade/my/carts', action: 'update' }, method: :patch do |f| %>
      <%= f.check_box :address_id, { checked: model.id == current_cart.address_id, class: 'weui-check', data: { action: 'input#form' } }, model.id, model.id %>
      <span class="weui-icon-checked"></span>
    <% end %>
  </span>
</label>
