<div class="item">
  <span class="header"><%= t('profile.my.title') %></span>
  <div class="menu">
    <%= link_to t('profile.my.profiles.index.title'), my_profiles_path, class: active_helper(controllers: ['profiles']) %>
    <%= link_to t('profile.my.tutelages.index.title'), my_tutelages_path, class: active_helper(controllers: ['tutelages']) %>
  </div>
</div>
