<span class="menu-label"><%= t('profile.my.title') %></span>
<div class="menu-list">
  <%= link_to t('profile.my.profiles.index.title'), my_profiles_path, class: active_helper(controllers: ['profiles'], active: 'is-active') %>
  <%= link_to t('profile.my.agencies.index.title'), my_agencies_path, class: active_helper(controllers: ['agencies'], active: 'is-active') %>
</div>
